@{
    ViewBag.Title = "Home Page";
    if (Session["clientID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<div class="jumbotron">
    <h1>X Trading</h1>
    <p>Welcome @Session["Username"]!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Upload your trade orders to our platform.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Import")">Upload &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Process your Trades</h2>
        <p>
            Confirm your trades.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Trade")">Confirm &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View your Dashboard</h2>
        <p>You can view your processed trades on our dashboard.</p>
        <p><a class="btn btn-default" href="@Url.Action("Dashboard", "Trade")">Dashboard &raquo;</a></p>
    </div>
</div>